<section layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-content layout="column" layout-align="center center" layout-padding>
        <img src="assets/img/Dad-icon.png" class="img-circle" alt="Profile picture"/>
        Martin Cavoj
      </md-content>
      <md-content>
        <md-list class="userlist">
          <md-list-item><a class="md-button md-raised md-warn md-ink-ripple" style="width: 100%" ng-click="vm.logout()" href>Logout</a></md-list-item>
          <md-list-item ng-if="!vm.users.length">
            <img ng-src="assets/img/Zombie-icon.png" class="md-avatar" alt="{{::user.email}}" />
            <div class="md-list-item-text">
              Forever alone..
            </div>
          </md-list-item>
          <md-list-item class="md-2-line" ng-repeat="user in vm.users" ng-class="{active: vm.isSelected(user)}" ng-click="vm.selectUser(user)">
            <img ng-src="assets/img/Dad-icon.png" class="md-avatar" alt="{{::user.email}}" />
            <div class="md-list-item-text">
              <h3>{{ ::user.email }}</h3>
              <p>Som super</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout="column">
      <md-toolbar class="md-whiteframe-1dp site-toolbar">
          <div class="md-toolbar-tools">
              <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                  <md-icon aria-label="Menu" md-svg-icon="assets/img/menu.svg"></md-icon>
              </md-button>
              <h1>Crispy</h1>
          </div>
      </md-toolbar>
      <md-content flex layout="row" chat-scroll="vm.messages">
        <div style="width: 100%; position: absolute">
          <div ng-repeat="message in vm.messages">
              <md-card>
                  <md-card-content>
                      {{message.date | date:'HH:mm'}} &nbsp; {{message.user.email}}: {{message.message}}
                  </md-card-content>
              </md-card>
              <br />
          </div>
        </div>
      </md-content>
      <md-divider ></md-divider>
      <form ng-submit="vm.send()">
        <md-content layout="row" layout-align="center center" layout-padding md-theme="default">
          <md-input-container flex>
              <label>Click to type a message</label>
              <input ng-model="vm.message" ng-change="vm.sendLetter()">
          </md-input-container>
          <md-button type="submit" class="md-raised md-primary">Send</md-button>
        </md-content>
      </form>
  </md-content>
</section>
