<section layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-content layout="column" layout-align="center center" layout-padding>
        <img src="{{::main.userData.gender ? 'assets/img/Girl-icon.png' : 'assets/img/Dad-icon.png'}}" class="img-circle" alt="Profile picture"/>
        <md-button class="profile-edit-button">
          <md-tooltip md-direction="top">
            Edit your profile
          </md-tooltip>
          {{::main.userData.name}}
        </md-button>
        <md-button ng-click="main.setStatus($event)" class="status-edit-button">
          {{main.userData.status || '-- Set your status --'}}
        </md-button>
      </md-content>
      <md-divider></md-divider>
      <md-content>
        <md-list class="userlist">
          <md-list-item ng-if="!main.users.length">
            <img ng-src="assets/img/Zombie-icon.png" class="md-avatar" alt="{{::user.email}}" />
            <div class="md-list-item-text">
              All alone..
            </div>
          </md-list-item>
          <md-list-item class="md-2-line userlist-item" ng-repeat="user in main.users" ng-class="{active: main.isSelected(user)}" ng-click="main.selectUser(user)">
            <img ng-src="assets/img/Dad-icon.png" class="md-avatar" alt="{{::user.email}}" />
            <div class="md-list-item-text">
              <h3>{{ ::user.first_name }} {{::user.last_name}}</h3>
              <p>{{ user.status || 'No status'}}</p>
            </div>
            <span class="badge" ng-if="user.unread">{{user.unread}}</span>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout="column">
      <md-toolbar class="md-whiteframe-1dp site-toolbar">
          <div class="md-toolbar-tools">
              <md-button ng-click="main.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                  <md-icon aria-label="Menu" md-svg-icon="assets/img/menu.svg"></md-icon>
              </md-button>
              <h1>Crispy Chat</h1>
              <span flex></span>
              <a class="md-button md-raised md-warn md-ink-ripple" ng-click="main.logout()" href>Logout</a>
          </div>
      </md-toolbar>
      <div ui-view layout="column" flex></div>
  </md-content>
</section>
