/* app css stylesheet */
md-sidenav {
    width: 200px;
}

md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  max-width: 200px;
  min-width: 200px;
}

.userlist .active {
  background-color: #3f51b5;
}
.userlist .active .md-list-item-text h3,
.userlist .active .md-list-item-text p {
  color: rgba(255, 255, 255, 0.87);
}

md-input-container.md-docs-dark-theme label {
  color: rgba(255, 255, 255, 0.7);
}
.img-circle {
  border-radius: 50%;
  border: 1px solid #ddd;
}
.site-toolbar {
  background-color: #f6f6f6 !important;
  color: #202020 !important;
}
